html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 230vh; 
    height: 100vh;
    background-image: url('/assets/images/fondo_2.png');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
}

.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.programming-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px; 
}

.registration-container {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 340px;
    text-align: center;
    border: 2px solid #25a2b8; 
}

.login-logo {
    width: 120px;
    margin-bottom: 20px;
}

.input-container label {
    color: #ccc;
}

input {
    width: 90%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #333;
    background-color: #222;
    color: #4cffb3; 
    border-radius: 6px;
}

input::placeholder {
    color: #4cffb3; 
}

.login-button {
    width: 70%;
    padding: 12px;
    background-color: #ff4c4c; 
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
}

.login-button:hover {
    background-color: #1e8190; 
}

.forgot-password, .registro {
    display: block;
    margin-top: 12px;
    text-decoration: none;
    color: #25a2b8;
}

.forgot-password:hover, .registro:hover {
    text-decoration: underline;
}


.side-image {
    position: absolute;
    height: auto; 
    width: auto; 
}

.left {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.right {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
